#header{
    height: 32px;
    background: #a9180a;
    border-bottom: 1px solid #a9180a;
    height: 32px;
    line-height: 32px;
}
.header-login{
    float: left;
    height: 32px;
}
.header-login span,.header-login a{
    color:#fff;
    font-size: 12px;
}
.header-login a{
    text-decoration: none;
    padding:0 10px 0 20px;
}
.header-list{
    float: right;
}
.header-list > li{
    float: left;
    padding: 0 14px 0 10px;
}
.header-list > li > a{
    color: #fff;
    font-size: 12px;
}
.list-arrow{
   position: relative;
}
.sub-list{
    position: absolute;
    left:0px;
    top:32px;
    background: #fff;
    padding: 10px;
    border:1px solid #ccc;
    border-top:none;
    display: none;
    font-size: 12px;
}
.sub-list-tb{
    width:72px;
    line-height: 20px;
    /* z-index:5; */
}
.sub-list > li > a{
    color:#999;
}
.list-arrow:hover .sub-list{
    display: block;
}
.list-arrow:hover{
    background: #fff;
}
.list-arrow:hover > a{
    color:#ff0036;
    text-decoration: underline;
}
.sub-list .list-tb-baby:hover{
    color:#ff0036;
    text-decoration: underline;
}
